/.dockerignore
/.idea
/tmp
/bin/*
**/*.swp
**/*.swo
/docker-compose*.yml
.env
.env.*
**/core
**/*.tmp
**/*.log
**/*.mdb
**/*.pb.gz
/test-in-docker.sh
/.gitlab-ci.yml
/.gitmodules
/builder/.git
/pdns-linter/.git
