#
# Demo with the PowerDNS Authoritative Nameserver.
#
version: '2.4'

volumes:
    lmdb:
        driver: local
    azurite_data:
    minio:
        driver: local
    #snapshots:
    #    driver: local

services:
    minio:
        # Default credentials: minioadmin / minioadmin
        image: minio/minio  
        ports:
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}30:9000"
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}31:9001"
        command: server /data --console-address :9001
        volumes:
            - "minio:/data" 
    # https://learn.microsoft.com/en-us/azure/storage/common/storage-use-azurite
    azurite:
        image: mcr.microsoft.com/azure-storage/azurite
        container_name: azurite
        hostname: azurite
        restart: always
        ports:
            - "10000:10000"
            - "10001:10001"
            - "10002:10002" 
        command: azurite --blobHost 0.0.0.0  --queueHost 0.0.0.0 --tableHost 0.0.0.0
        volumes:    
        - azurite_data:/data
        - ./azure/certs:/certs
        environment:
         - AZURITE_ACCOUNTS=devstoreaccount1:key1
    auth1:
        image: powerdns/pdns-auth-49
        environment:
            instance: 1
            port: 53
            webserver_port: 8081
        ports:
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}51:53/tcp"
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}51:53/udp"
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}81:8081"
        volumes:
            - "lmdb:/lmdb" 
            - "./docker/pdns/run.sh:/run.sh:ro"
        user: root
        init: true
        entrypoint: /run.sh
    
    auth2:
        image: powerdns/pdns-auth-49
        environment:
            instance: 2
            port: 53
            webserver_port: 8081
        ports:
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}52:53/tcp"
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}52:53/udp"
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}82:8081"
        volumes:
            - "lmdb:/lmdb" 
            - "./docker/pdns/run.sh:/run.sh:ro"
        user: root
        init: true
        entrypoint: /run.sh

    auth3:
        image: powerdns/pdns-auth-49
        environment:
            instance: 3
            port: 53
            webserver_port: 8081
        ports:
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}53:53/tcp"
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}53:53/udp"
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}83:8081"
        volumes:
            - "lmdb:/lmdb" 
            - "./docker/pdns/run.sh:/run.sh:ro"
        user: root
        init: true
        entrypoint: /run.sh

    sync1:
        build:
            dockerfile: Dockerfile
            context: .
        environment:
            - instance=1  # used in config file
        ports:
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}91:8500"
        volumes:
            - "lmdb:/lmdb" 
            - "./docker/pdns/lightningstream.yaml:/lightningstream.yaml:ro"
            #- "snapshots:/snapshots" 
        working_dir: /
        user: "953"  # pdns
        command: --minimum-pid 50 sync

    sync2:
        build:
            dockerfile: Dockerfile
            context: .
        environment:
            - instance=2  # used in config file
        ports:
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}92:8500"
        volumes:
            - "lmdb:/lmdb" 
            - "./docker/pdns/lightningstream.yaml:/lightningstream.yaml:ro"
            #- "snapshots:/snapshots" 
        working_dir: /
        user: "953"  # pdns
        command: --minimum-pid 50 sync

    sync3:
        build:
            dockerfile: Dockerfile
            context: .
        environment:
            - instance=3  # used in config file
        ports:
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}93:8500"
        volumes:
            - "lmdb:/lmdb" 
            - "./docker/pdns/lightningstream.yaml:/lightningstream.yaml:ro"
        working_dir: /
        user: "953"  # pdns
        command: --minimum-pid 50 receive


