#
# Demo with the PowerDNS Authoritative Nameserver.
#
version: '2.4'

volumes:
    lmdb:
        driver: local
    minio:
        driver: local
    #snapshots:
    #    driver: local

services:
    minio:
        # Default credentials: minioadmin / minioadmin
        image: minio/minio  
        ports:
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}30:9000"
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}31:9001"
        command: server /data --console-address :9001
        volumes:
            - "minio:/data" 

    auth1:
        image: powerdns/pdns-auth-master
        environment:
            instance: 1
            port: 53
            webserver_port: 8081
        ports:
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}51:53/tcp"
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}51:53/udp"
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}81:8081"
        volumes:
            - "lmdb:/lmdb" 
            - "./docker/pdns/run.sh:/run.sh:ro"
        user: root
        init: true
        entrypoint: /run.sh
    
    auth2:
        image: powerdns/pdns-auth-master
        environment:
            instance: 2
            port: 53
            webserver_port: 8081
        ports:
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}52:53/tcp"
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}52:53/udp"
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}82:8081"
        volumes:
            - "lmdb:/lmdb" 
            - "./docker/pdns/run.sh:/run.sh:ro"
        user: root
        init: true
        entrypoint: /run.sh

    sync1:
        build:
            dockerfile: Dockerfile
            context: .
        environment:
            instance: 1  # used in config file
        ports:
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}91:8500"
        volumes:
            - "lmdb:/lmdb" 
            - "./docker/pdns/lightningstream.yaml:/lightningstream.yaml:ro"
            #- "snapshots:/snapshots" 
        working_dir: /
        user: "953"  # pdns
        command: --minimum-pid 50 sync

    sync2:
        build:
            dockerfile: Dockerfile
            context: .
        environment:
            instance: 2  # used in config file
        ports:
            - "${DEVENV_BIND_IP:-127.0.0.1}:${PORT_PREFIX:-47}92:8500"
        volumes:
            - "lmdb:/lmdb" 
            - "./docker/pdns/lightningstream.yaml:/lightningstream.yaml:ro"
            #- "snapshots:/snapshots" 
        working_dir: /
        user: "953"  # pdns
        command: --minimum-pid 50 sync


