[Unit]
Description=LightingStream Service Unit
After=network.target

[Service]
EnvironmentFile=_ENVFILE_
ExecStart=_BINARY_ -c _CONFIG_ sync
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
