Source: lightningstream
Section: net
Maintainer: PowerDNS.COM BV <powerdns.support@powerdns.com>

Package: lightningstream
Architecture: any
Description: LMDB syncer to s3
Homepage: https://www.powerdns.com/
