Package: lightningstream
Version: 1.0
Description: LMDB syncer to s3
Source: lightningstream
Section: net
Maintainer: PowerDNS Autobuilder <powerdns.support@powerdns.com>
Priority: optional
Standards-Version: 1.0
Homepage: https://www.powerdns.com/
Rules-Requires-Root: no
Architecture: arm64
