[Unit]
Description=LightingStream Service Unit
After=network.target

[Service]
ExecStart=/usr/bin/lightningstream -c /etc/lightningstream/lightningstream.yaml sync
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
