#!/usr/bin/make -f

# Turn on all hardening flags, as we're a networked daemon.
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean

ovverride_dh_auto_configure:
	dh_auto_configure
	wget -q https://go.dev/dl/go1.19.3.linux-amd64.tar.gz;tar xfz go1.19.3.linux-amd64.tar.gz
	export PATH:=go/bin:$(PATH);./build.sh

override_dh_auto_install:
	dh_auto_install
	find debian/tmp/usr/lib -name '*.la' -delete

override_dh_installsystemd:
	dh_installsystemd --no-start -plightningstream --name=lightningstream

override_dh_install:
	dh_install

override_dh_auto_test:

override_dh_builddeb:
	dh_builddeb -- -Zgzip
