name: 'Documentation'

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:

  build-upload-docs:
    name: Build and upload docs
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
      - name: Check for semver release tag # note the $ in the regex which excludes pre-releases
        id: release_check
        run: |
          if [[ ${{ github.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "release=YES" >> $GITHUB_OUTPUT
            echo "version_string=${{ github.ref }}" | sed -r 's/(=)v/\1/' >> $GITHUB_OUTPUT
          fi
      - uses: PowerDNS/pdns-publish-docs-action@v1.1.0
        if: ${{ steps.release_check.outputs.release == 'YES' }} # Only build and push docs for releases
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: ${{ vars.AWS_REGION }}
          aws_s3_bucket: ${{ vars.AWS_S3_BUCKET_DOCS }}
          aws_cloudfront_distribution_id: ${{ vars.AWS_CLOUDFRONT_DISTRIBUTION_ID_DOCS }}
          mkdocs_file: "mkdocs.yml"
          version_string: "${{ steps.release_check.outputs.version_string }}" # This version string has the 'v' removed from the front
          bucket_subdir: "lightningstream"
