name: 'Documentation'

on:
  push:
    # docs is the branch on which we are developing this, can be removed later
    branches: [ "main"]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  upload_docs:
    # on a ubuntu VM
    runs-on: ubuntu-22.04
    env:
      # Github.refname is wrong for pull requests - have to use head ref for them
      MYREF: ${{ github.event.pull_request && github.head_ref || github.ref_name }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ vars.AWS_REGION }}
      AWS_S3_BUCKET_DOCS: ${{ vars.AWS_S3_BUCKET_DOCS }}
      AWS_CLOUDFRONT_DISTRIBUTION_ID_DOCS: ${{ vars.AWS_CLOUDFRONT_DISTRIBUTION_ID_DOCS }}
      BUILD_PATH: ${{ github.workspace }}
      MKDOCS_IMAGE: ${{ vars.MKDOCS_IMAGE }}
      HARBOR_HOST: ${{ vars.HARBOR_HOST }}
      HARBOR_USER: ${{ vars.HARBOR_USER }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
        # We need to login to the OX registry because we use an image to build the docs
      - name: Login to OX Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.HARBOR_HOST }}
          username: ${{ env.HARBOR_USER }}
          password: ${{ secrets.HARBOR_PASSWORD }}
      - name: Check for release tag
        id: release_check
        run: |
          if [[ ${{ github.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "release=YES" >> $GITHUB_OUTPUT
          fi
      - if: ${{ steps.release_check.outputs.release == 'YES' }}
        run: |
          ${{ env.BUILD_PATH }}/.github/scripts/mkdocs.sh ${{ env.BUILD_PATH }}/mkdocs.yml ${{ env.MYREF }} ${{ env.MKDOCS_IMAGE }}
